@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.eot");
  src: url("../fonts/play-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-latin-regular.woff") format("woff"),
    url("../fonts/play-v19-latin-regular.ttf") format("truetype"),
    url("../fonts/play-v19-latin-regular.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.eot");
  src: url("../fonts/play-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-latin-700.woff") format("woff"),
    url("../fonts/play-v19-latin-700.ttf") format("truetype"),
    url("../fonts/play-v19-latin-700.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}

:root {
  --color-primaary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000000;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-darkblue);
}

.logo {
  text-decoration: none;
  font-family: Play;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9545555; /* 95.455% */
  text-transform: capitalize;

  color: var(--color-primary-blue);
}

ul {
  list-style-type: none;
}

.header-link {
  color: var(--color-primary-darkblue);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.171666;
}

.header-link:hover {
  font-weight: 700;
  color: var(--color-primary-blue);
}

.hero-title {
  color: var(--color-primary-blue);

  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81429;
}

.company-name {
  text-transform: capitalize;
}

.hero-title-p {
  font-size: 18px;
  line-height: 1.171666;
}

.button {
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primaary-white);

  display: flex;
  padding: 16px 32px;
  align-items: flex-start;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.171666;
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-description {
  color: var(--color-secondary-darkgrey);
  font-style: 12px;
  line-height: 1.5;
}

.section-title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.157031;
}

h2 .accent,
h3 .accent {
  color: var(--color-primary-blue);
}

.about-us-section > p {
  font-size: 22px;
  line-height: 1.727272;
}

p .accent {
  font-weight: 700;
}

.features {
  color: var(--color-black);

  text-align: center;
  font-size: 18px;
  line-height: 1.333333; /* 133.333% */
}

.procedure-title {
  color: var(--color-primaary-white);

  text-align: center;
  font-size: 22px;
  line-height: 1.181818; /* 118.182% */
}

.order-title {
  color: var(--color-primaary-white);

  font-size: 22px;
  line-height: 1.171818;
}

.order p {
  color: var(--color-secondary-grey);

  font-size: 12px;
  line-height: 1.5;
}
