@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.eot");
  src: url("../fonts/play-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-latin-regular.woff") format("woff"),
    url("../fonts/play-v19-latin-regular.ttf") format("truetype"),
    url("../fonts/play-v19-latin-regular.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.eot");
  src: url("../fonts/play-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-latin-700.woff") format("woff"),
    url("../fonts/play-v19-latin-700.ttf") format("truetype"),
    url("../fonts/play-v19-latin-700.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}

:root {
  --color-primaary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000000;
}

body {
  color: var(--color-primary-darkblue);
}

ul {
  list-style-type: none;
}

.header-link {
  color: var(--primary-text);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}

.header-link:hover {
  color: var(--color-primary-blue);
}

.hero-title {
  color: var(--color-primary-blue);
}

.button {
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primaary-white);
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-description {
  color: var(--color-secondary-darkgrey);
}

h2 .accent {
  color: var(--color-primary-blue);
}

.features {
  color: var(--color-black);
}
