@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.eot");
  src: url("../fonts/play-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/play-v19-latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-latin-regular.woff") format("woff"),
    url("../fonts/play-v19-latin-regular.ttf") format("truetype"),
    url("../fonts/play-v19-latin-regular.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.eot");
  src: url("../fonts/play-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/play-v19-latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-latin-700.woff") format("woff"),
    url("../fonts/play-v19-latin-700.ttf") format("truetype"),
    url("../fonts/play-v19-latin-700.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}

:root {
  --color-primaary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000000;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-darkblue);

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1239px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 0;

  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.157031;
}

h2 .accent,
h3 .accent {
  color: var(--color-primary-blue);
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 240px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 240px;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.address-list {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}
.logo {
  text-decoration: none;
  font-family: Play;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9545555; /* 95.455% */
  text-transform: capitalize;

  color: var(--color-primary-blue);
}

.header-link {
  color: var(--color-primary-darkblue);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.171666;
}

.header-link:hover {
  color: var(--color-primary-blue);
}

/* Hero Section */

.hero-section {
  padding: 0;
}

.hero-container {
  margin: 123.12px 666.95px 126.81px 244px;
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px; */
}

.hero-title {
  margin-bottom: 40px;

  color: var(--color-primary-blue);

  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81429;
}

.company-name {
  text-transform: capitalize;
}

.hero-title-p {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.171666;
}

.button {
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primaary-white);

  display: flex;
  padding: 16px 32px;
  margin-bottom: 14px;
  align-items: flex-start;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.171666;
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-description {
  margin-bottom: 0;
  color: var(--color-secondary-darkgrey);
  font-style: 12px;
  line-height: 1.5;
}

/* Abouy Us Section */

.about-us-content {
  display: flex;
}
.about-us-container {
  width: 710px;
  margin-top: 40px;
  margin-bottom: 199px;
  margin-right: 531px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.about-us {
  padding: 0 0 88px 0;
}
.about-us > p {
  font-size: 22px;
  line-height: 1.727272;
}

p .accent {
  font-weight: 700;
}

/* Advantages */

.advantages-container {
  max-width: 1060px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages {
  padding: 88px 0 48px 0;
}

.advantage-block {
  display: flex;
  flex-direction: column;
  height: 181px;
  padding: 24px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.features {
  color: var(--color-black);

  text-align: center;
  font-size: 18px;
  line-height: 1.333333; /* 133.333% */
}

/* Procedures */

.procedures {
  padding: 48px 0;
}

.procedure-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.procedure-title {
  color: var(--color-primaary-white);
margin: 372px 77px 32px 115px;
  text-align: center;
  font-size: 22px;
  line-height: 1.181818; /* 118.182% */
}

.procedure-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.procedure-card {
  background-color: black;
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  flex-shrink: 0;
}

/* Contacts */

.contacts {
  padding: 48px 0 96px 0;
}

.contacts-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.contacts-content {
  display: flex;
  gap: 32px;
}

.order-title {
  color: var(--color-primaary-white);

  font-size: 22px;
  line-height: 1.171818;
}

.order p {
  color: var(--color-secondary-grey);

  font-size: 12px;
  line-height: 1.5;
}

/* Footer */

.footer-link,
.footer-address-link {
  color: var(--color-primaary-white);

  font-size: 16px;
  line-height: 1.171875;
  text-decoration: none;
  font-style: normal;
}

.copyright {
  font-size: 13px;
  line-height: 1.171538;
}
